[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
rethinkdb = "*"
pandas = "*"
numpy = "*"
scipy = "*"
pyaml = "*"
envyaml = "*"
sklearn = "*"
matplotlib = "*"
plotly = "*"
dash = "==1.19.0"

[requires]
python_version = "3.8"
