[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
rethinkdb = "*"
dataclasses-json = "*"
envyaml = "*"

[dev-packages]

[requires]
python_version = "3.8"
