<configuration>

    <!-- APPENDERS -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %white([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- LOGGERS -->
    <logger name="me.pysquad.cryptobot" additivity="false" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>